
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias ll="ls -al"
alias python="python3"
alias dotfiles="/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME"
alias c='clear'
alias sz='source ~/.zshrc'
alias on='~/bash/ObsidianNew.sh'
alias fn='nvim $(fzf --preview="batcat --color=always --style=numbers {}")'
alias fan='nvim ~/$(cd ~ && fzf --preview="batcat --color=always --style=numbers {}")'
alias run='sh ~/$(cd ~ && fzf --preview="batcat --color=always --style=numbers {}")'
alias fon='link=${PWD} && cd ~/Documents/Vault && nvim && cd $link'
